@model Firma.Data.Data.Sklep.Towar
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_sklepLayout.cshtml";
}

<div>
    Foto
</div>
<div>
    @Model.Nazwa
</div>
<div>
    @Model.Kod
</div>
<div>
    @Model.Cena
</div>
<div>
    @Model.Opis
</div>

