@{
    ViewData["Title"] = "Home Page";
}

<h1 class="header center orange-text">ECOM Company Shop</h1>
<div class="row center">
    <h5 class="header col s12 light">Welcome in the shop!</h5>
</div>
<div class="row center">
    <a href="http://facebook.com" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
</div>
